<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARFqAxw4BfhNtXkMdhJlEV3XKTKLRG8D0</string>
	<key>GCM_SENDER_ID</key>
	<string>460460527612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bh.polytechnic.Mokhtabri</string>
	<key>PROJECT_ID</key>
	<string>fir-testing-512eb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testing-512eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460460527612:ios:6ca84951a9ba3efcf46c79</string>
</dict>
</plist>